---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Sobre nosotros">
    <div class="fle flex-col h-[282px] justify-center items-center mt-52">
        <h2 class="text-pretty">Desarrollado por: <span>Jhostin Bravo</span></h2>
        <h2 class="text-pretty">Propietario de la tienda : <span>Gustavo Failoc</span></h2>
    </div>
</Layout>


<style>
    /* Estilos para mi etiqueta h1 h2 y span , con buenos diseños */
    h2 {
        font-size: 1.5rem;
        color: #a8a8a8;
        margin-bottom: 1rem;
    }
    span {
        color: rgb(131, 110, 110);
        font-weight: bolder;
    }
</style>