---
import Layout from '../layouts/Layout.astro';
import Producto from '../components/Producto.astro';
import { productos } from "../lib/data";
---

<Layout title="Productos">
  <div
    class="grid sm:grid-cols-2 grid-cols-1 md:grid-cols-3 gap-5 mt-32"
  >
    {
      productos.map((producto) => (
        <Producto
          producto={producto}
          href=`/productos/${producto.id}`
        />

      ))
    }
  </div>
  
</Layout>
