<div id="nav-mobile" class="top-0 fixed z-50 py-0 px-0 navbar bg-transparent justify-end sm:hidden md:hidden lg:hidden">
    <ul class="menu menu-horizontal">
        <li>
            <details class="mr-5">
                <summary>
                    <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-menu-2" width="44" height="44" viewBox="0 0 24 24" stroke-width="1.5" stroke="#ffffff" fill="none" stroke-linecap="round" stroke-linejoin="round">
                        <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                        <path d="M4 6l16 0" />
                        <path d="M4 12l16 0" />
                        <path d="M4 18l16 0" />
                    </svg>
                </summary>
                <ul class="p-2 bg-slate-800 rounded-t-none">
                    <li><a href="/">Inicio</a></li>
                    <li><a href="/productos">Productos</a></li>
                    <li><a href="/acercade">Acerca de nosotros</a></li>
                </ul>
            </details>
        </li>
    </ul>
</div>