---
import type { Producto } from "@/lib/data";
interface Props {
    producto: Producto;
    href?: string;
}

const { producto, href } = Astro.props;
const { id, title, description, image } = producto;

import { Image } from "astro:assets";
---

<div class="relative flex flex-col items-center justify-center max-w-full p-[1.5px] rounded-md  hover:cursor-pointer">
    <div class="grid gap-4">
        <figure>
            <a
                href={href ?? "#"}
            >
              <Image
                class="h-auto max-w-full rounded-lg hover:transform md:hover:scale-110 lg::hover:scale-110 transition duration-300 ease-in-out"
                alt="Producto 1"
                src={image}
                />  
            </a>
        </figure>
    </div>
</div>



<!-- <article
    class="relative flex flex-col items-center justify-center max-w-full p-[1px] rounded-md bg-gradient-to-b from-white/20 via-transparent to-transparent hover:via-white/10 group"
>
    <div
        class="bg-[#000214]/50 flex-1 group-hover:bg-[#000214]/10 w-full px-6 py-10 rounded transition"
    >
        <figure class="flex items-center justify-center">
            <Image
                class="rounded-full"
                alt="Producto 1"
                src={image}
                width={200}
                height={200}
            />
        </figure>
        <h3 class="mt-4 text-pretty text-2xl font-bold text-center text-white">
            <a
                href={href ?? "#"}
                class="text-pretty"
                >{title}
            </a>
        </h3>
        <p class="text-xl text-center text-sky-200 text-pretty">{description}</p>
    </div>
</article> -->
